

/* Apply Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

.font-ballo {
    font-family: 'ballo', sans-serif;
}

.font-lora {
    font-family: 'lora', sans-serif;
}

.font-molengo {
    font-family: 'molengo', sans-serif;
}
.font-montserrat{
    font-family: 'montserrat', sans-serif;
}
